<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <meta name="Author" content="Matheus T. Chiarato">
        <link rel="script" href="/assets/JS/jquery-3.4.1.min.js">
        <link rel="stylesheet" href="/assets/CSS/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/CSS/bootstrap-grid.min.css">
        <link rel="stylesheet" href="/assets/CSS/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="/assets/CSS/style.css">
    </head>
    <body>

    </body>
</html>